@skittles-orange: #EF4C13;
@skittles-yellow: #FFCA05;
@skittles-green: #0C950A;
@skittles-purple: #340531;
@skittles-red: #9B0329;

@skittles: skittles-orange, skittles-yellow, skittles-green, skittles-purple, skittles-red;