a {
  color: @NES-red;
  text-decoration: none;

  &:hover, &:focus {
    color: lighten(@NES-red, 7%);
    text-decoration: underline;
  }

  &:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

html, body, #react-entry, .container, .container-main, .container-side {
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}

#react-entry {
  width: 100%;
  z-index: 5;
}

.backgrounds {
  position: fixed;
  width: 100%;
  height: 100%;
  background: @darkest-gray;
}

.container {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  z-index: 50;
}

.container-main {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
}