@import "colors";

@media (max-width: 768px) {
  .nav-active {
    .nav-name {
      padding: 4rem 4rem 2rem;
    }

    .article-block {
      transform: translate(33%, 0);
    }
  }

  .article-block {
    transition: transform 1s;
  }
}