@import "colors";

@media (max-width: 768px) {
  .nav-active {
    .nav-block-background {
      width: 225px;
      transition-delay: 0s;
    }

    .article-block {
      transform: translate(225px, 0);
    }
  }

  .article-block {
    transition: transform 1s;
  }
}