.header-container {
  position: fixed;
  top: 5px;
  left: 90px;
  right: 90px;
  // width: 100%;
  padding: 10px 0;
  // background: @dark-gray;
  // border: 1px solid @darkest-gray;
  // border-width: 0 0 1px 0;
  z-index: 30;
}

.search-container {
  position: relative;
}

.search-box {
  width: 75%;
  max-width: 40px;
  margin: 0 auto;
  background-color: @dark-gray;
  border: 1px solid @darkest-gray;
  border-radius: 20px;
  color: @lightest-gray;
  text-align: center;
  font-size: 1.25em;
  font-family: "Hind", "FontAwesome", sans-serif;
  box-sizing: border-box;
  display: block;
  opacity: 1;
  transition: max-width 0.5s, background-color 1s, opacity 1s;

  &:focus, &.has-active-search {
    max-width: 300px;
    background: @lightest-gray;
    color: @dark-gray;
    outline: 0;
  }

  &:disabled {
    opacity: 0;
  }
}