@font-face {
  font-family: 'Zelda';
  src: url('../fonts/The-Legend-of-Zelda-NES.ttf') format('truetype');
}
a {
  color: #dd0000;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #ff0202;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
html,
body,
#react-entry,
.container,
.container-main,
.container-side {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}
body {
  background: linear-gradient(45deg, #f83800 10%, transparent 10%) 0px 0px, linear-gradient(45deg, transparent 90%, #f83800 90%) 10px -10px, linear-gradient(45deg, #4428bc 10%, transparent 10%) 10px 0px, linear-gradient(45deg, transparent 90%, #4428bc 90%) 20px -10px, linear-gradient(45deg, #a80020 10%, transparent 10%) 20px 0px, linear-gradient(45deg, transparent 90%, #a80020 90%) 30px -10px, linear-gradient(45deg, #ac7c00 10%, transparent 10%) 30px 0px, linear-gradient(45deg, transparent 90%, #ac7c00 90%) 40px -10px, linear-gradient(45deg, #00e8d8 10%, transparent 10%) 40px 0px, linear-gradient(45deg, transparent 90%, #00e8d8 90%) 50px -10px, linear-gradient(45deg, #503000 10%, transparent 10%) 0px 10px, linear-gradient(45deg, transparent 90%, #503000 90%) 10px 0px, linear-gradient(45deg, #6888fc 10%, transparent 10%) 10px 10px, linear-gradient(45deg, transparent 90%, #6888fc 90%) 20px 0px, linear-gradient(45deg, #6844fc 10%, transparent 10%) 20px 10px, linear-gradient(45deg, transparent 90%, #6844fc 90%) 30px 0px, linear-gradient(45deg, #d800cc 10%, transparent 10%) 30px 10px, linear-gradient(45deg, transparent 90%, #d800cc 90%) 40px 0px, linear-gradient(45deg, #f8a4c0 10%, transparent 10%) 40px 10px, linear-gradient(45deg, transparent 90%, #f8a4c0 90%) 50px 0px, linear-gradient(45deg, #ac7c00 10%, transparent 10%) 0px 20px, linear-gradient(45deg, transparent 90%, #ac7c00 90%) 10px 10px, linear-gradient(45deg, #6888fc 10%, transparent 10%) 10px 20px, linear-gradient(45deg, transparent 90%, #6888fc 90%) 20px 10px, linear-gradient(45deg, #008888 10%, transparent 10%) 20px 20px, linear-gradient(45deg, transparent 90%, #008888 90%) 30px 10px, linear-gradient(45deg, #a81000 10%, transparent 10%) 30px 20px, linear-gradient(45deg, transparent 90%, #a81000 90%) 40px 10px, linear-gradient(45deg, #fce0a8 10%, transparent 10%) 40px 20px, linear-gradient(45deg, transparent 90%, #fce0a8 90%) 50px 10px, linear-gradient(45deg, #b8b8f8 10%, transparent 10%) 0px 30px, linear-gradient(45deg, transparent 90%, #b8b8f8 90%) 10px 20px, linear-gradient(45deg, #007800 10%, transparent 10%) 10px 30px, linear-gradient(45deg, transparent 90%, #007800 90%) 20px 20px, linear-gradient(45deg, #f0d0b0 10%, transparent 10%) 20px 30px, linear-gradient(45deg, transparent 90%, #f0d0b0 90%) 30px 20px, linear-gradient(45deg, #00a800 10%, transparent 10%) 30px 30px, linear-gradient(45deg, transparent 90%, #00a800 90%) 40px 20px, linear-gradient(45deg, #e40058 10%, transparent 10%) 40px 30px, linear-gradient(45deg, transparent 90%, #e40058 90%) 50px 20px, linear-gradient(45deg, #fca044 10%, transparent 10%) 0px 40px, linear-gradient(45deg, transparent 90%, #fca044 90%) 10px 30px, linear-gradient(45deg, #f83800 10%, transparent 10%) 10px 40px, linear-gradient(45deg, transparent 90%, #f83800 90%) 20px 30px, linear-gradient(45deg, #fca044 10%, transparent 10%) 20px 40px, linear-gradient(45deg, transparent 90%, #fca044 90%) 30px 30px, linear-gradient(45deg, #0058f8 10%, transparent 10%) 30px 40px, linear-gradient(45deg, transparent 90%, #0058f8 90%) 40px 30px, linear-gradient(45deg, #005800 10%, transparent 10%) 40px 40px, linear-gradient(45deg, transparent 90%, #005800 90%) 50px 30px;
  background-size: 50px 50px;
}
.container {
  width: 83%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
}
.container-main {
  float: left;
  width: 100%;
  margin: 0 0.75% 0 1.5%;
  padding: 0 3%;
  font-size: 18px;
}
.article-button-list {
  overflow: auto;
}
.article-button-list > .article-button {
  margin: 5px;
}
.article-button-container {
  padding: 0 3%;
  line-height: 60px;
  overflow: auto;
}
.article-button {
  float: left;
  width: 50px;
  height: 50px;
  margin: 5px 5px 5px 0;
  border-radius: 25px;
  background: #e5e5e5;
}
.article-button:hover .article-button-border,
.article-button > a.active .article-button-border {
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  border: 3px solid #e5e5e5;
}
.article-button:hover .article-button-background,
.article-button > a.active .article-button-background {
  opacity: 0;
}
.article-button:hover .article-button-text,
.article-button > a.active .article-button-text {
  color: #dd0000;
  border: 1px solid #cccccc;
  line-height: 44px;
}
.article-button > a {
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  transition: color 1s;
}
.article-button-border {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 0px;
  height: 0px;
  border: 0px solid rgba(229, 229, 229, 0);
  border-radius: 25px;
  transition: top 1s, left 1s, width 1s, height 1s, border 0.5s;
}
.article-button-background,
.article-button-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 25px;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  line-height: 45px;
  opacity: 1;
  transition: opacity 1s, color 1s;
}
.article-button-background {
  background: #dd0000;
  background: radial-gradient(ellipse at center, #dd0000 35%, #ec0000 50%, #ff0202 60%, #b90000 75%, #770000 70%);
}
.article-button-text {
  border: 0px solid #cccccc;
  transition: border 1s;
}
.article-container {
  background: #f2f2f2;
  border: 1px solid #000000;
  overflow: auto;
  display: none;
}
.article-active {
  display: block;
}
.article-title {
  margin: 0;
  padding: 3%;
  background-color: #1a1a1a;
  color: #f2f2f2;
  overflow: auto;
}
.article-title-text {
  float: left;
}
.article-title-date {
  float: right;
  font-size: 0.5em;
}
.article-banner-image {
  width: 100%;
}
.article-body {
  margin: 1.5% 0;
  padding: 0 3%;
}
.taglist-list {
  margin: 1.5% 0;
  padding: 0 3%;
  overflow: auto;
  list-style: none;
}
.taglist-tag {
  float: left;
  margin: 0;
  padding: 2px;
}
.search-box {
  width: 100%;
  margin: 20px 0 10px;
  padding: 3%;
  box-sizing: border-box;
}
